@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.carousel-item img{
    height: 700px;
    object-fit: cover;
    filter: brightness(50%);
    border-radius: 0px 0px 5px 5px;
}